body {
    margin: 0;
}

header {
    background-color: rgb(94, 16, 167);
    padding: 15px;
    color: #fff;
    text-align: center;
}

header h1 {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: #6f6e6e;
    border-radius: 20px;
    padding: 10px;
}
a:hover{
    background-color: #a7a7a7;
}

.container {
    padding: 16px;
    background-color: #f4f4f4;
}

section {
    background-color: #fff;
    padding: 16px;
    border-radius: 5px;
    margin: 16px 0px;
    box-shadow: 0px 2px 5px #1f1f1f;
}

.last {
    margin-bottom: 70px;
}

h2 {
    border-bottom: 2px solid rgb(94, 16, 167);
    padding-bottom: 8px;
}

footer {
    background-color: rgb(94, 16, 167);
    padding: 5px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    

}